body{
	color: #333;
	background-color: #E0E0E0;
}

a{
	color:#000000;
}

.header {
	background-color: #FFFFFF;
	margin: 5px;
	padding: 10px;
	font-weight:bold;
	height:20px;
}

.settings {
	font-weight:bold;
}

.settings	#mp1{
	padding:2px;
}

.settings	#mp2{
	padding:2px;
}
#mp1, #mp2, #mp3, #mp4, #mp6, #ms1, #ms2, #ms3, #mt1{
	float:left;
	margin-left:10px;
	background-color: #FFFFFF;
}
#mp5{
	float:right;
	margin-left:10px;
	background-color: #E0E0E0;
	padding:2px;
	float:right;
}

.settings	#button6{
	margin-top:0px;
	height:18px;
}
.settings	#button7{
	margin-top:0px;
	height:18px;
}
.settings	#button11{
	margin-top:0px;
	height:18px;
}

.single {
	background-color: #FFFFFF;
	margin:10px;
	text-align:center;
	/*padding-top:130px;*/
}

#clear{
		clear: both;
}
.footer_menu {
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top:10px;
	padding:5px;
	width:99%;
}
.footer_menu li{
	display:inline-block;
	background-color: #FEFEFE;
	font-weight:bold;
	margin-right:40px;
}
.footer_menu li a{
	//text-decoration: none;
}
.fractal {
	width:100%;
	margin-top:10px;
}
.fractal #fr1 {
	float:left;
	text-align:center;
}
.fractal #fr2 {
	float:right;
	text-align:center;
}
.fractal #frinfo {
	display:none;
	width:32%;
	margin: 0 auto;
	margin-top:20px;
	border: 4px double #DDDDDD;
}
.fractal	#parents{
	display:none;
	background-color: #FFFFFF;
	padding:10px;
	text-align:center;
	border: 4px double #DDDDDD;
}
.fractal #parents #content{
	font-size:12px;
}
#edditedarray{
	font-size:12px;
}
.fractal #frinfo1 {
	display:none;
	text-align:center;
	float:left;
	width:5%;
	background-color: #000000;
	color:#FFFFFF;
	font-weight:bold;
	border: 4px double #AAAAAA;
}
.fractal #frinfo2 {
	display:none;
	text-align:center;
	float:right;
	width:5%;
	background-color: #000000;
	color:#FFFFFF;
	font-weight:bold;
	border: 4px double #AAAAAA;
}


.set{
	width:32%;
	margin: 0 auto;
	text-align:center;
}

.buttons{
}

#mutatepercent, #exchangepercent, #minangles, #maxangles, #popsize, #min1, #max1, #step1, #min2, #max2, #step2{
	width:20px;
}
#mutatepercent, #exchangepercent{
	text-align:right;
}
#mutatepercent{
	height:10px;
}
#exchangepercent{
	height:12px;
}
#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9, #button10, #button11, #button12, #button13, #button14{
	border-style: solid;
	border-width: 2px;
	border-image: url("border.png") 2 repeat;
	background: #CCCCCC;
	height: 20px;
	margin: 0px auto;
	font-weight:bold;
	margin-top:10px;
	padding:0 10px;
}

#button_txt{
	display:inline-block;
	vertical-align:3px;
}

.LockOff { 
	display: none; 
	visibility: hidden; 
} 

.LockOn { 
	display: block; 
	visibility: visible; 
	position: absolute; 
	z-index: 999; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	background-color: #ccc; 
	text-align: center; 
	filter: alpha(opacity=95); 
	opacity: 0.95; 
} 
#help{
	display:none;
	margin:10px;
	background-color: #ffffff; 
	font-weight:bold;
	color:#000000;
	text-align: left; 
	padding:10px;
}
#mh{
	float:left;
}
.LockOn  #new-population{
	display:none;
	font-weight:bold;
	color:#000000;
	border: 4px double #DDDDDD;
	background-color: #fff; 
	width:30%;
	margin:0 auto;
	margin-top: 10%; 
	padding:10px;
}
.LockChilds{
	display:inline-block;
	margin:0 auto;
	text-align: left; 
	padding:10px;
}
.LockChilds input{
	height:12px;
}
.newpoptext{
	text-align:center;
	font-size:17px;
	padding:7px;
}
/*#mn1, #mn2, #mn3, #mn4, #mn5, #mh{
	padding:5px;
}*/
#mn4{
	float:left;
}
#mn5{
	float:right;
}
#button8{
	margin-top:0px;
	height:18px;
	display:inline-block;
}
#button9{
	margin-top:0px;
	height:18px;
	display:inline-block;
}
#notice div{
	color:#FF0000;
}
#inhelp{
	display:inline;
}
#populationinfo{

}
#content{
	display:inline-block;
}
#enditicons{
	display:inline-block;
}
#edit1{
	display:inline-block;
	padding:0 2px;
}
#edit2, #edit3{
	display:none;
	padding:0 2px;
}

.showallOff { 
	display: none; 
	visibility: hidden; 
} 

.showallOn { 
	display: block; 
	visibility: visible; 
	position: absolute; 
	z-index: 999; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	color: #333;
	background-color: #E0E0E0;
	text-align: center; 
	filter: alpha(opacity=1); 
	opacity: 1;
	font-weight:bold;
}
.showallChild{
}
.showallChild #button12{
	margin-top:0px;
	height:18px;
}
.showallChild #button13{
	margin-top:0px;
	height:18px;
}
.showallChild #button14{
	margin-top:0px;
	height:18px;
}
.showallChild #selectedtxt{
	margin:5px;
}
.showallChild #alltxt{
	margin:5px;
}
.showallChild #selected{
	background-color: #FFFFFF; 
	margin:5px;
	border: 4px double #DDDDDD;
}
.showallChild #menu{
	background-color: #FFFFFF;
	margin: 5px;
	padding: 10px;
	height:20px;
	border: 4px double #DDDDDD;
}
.showallChild #all{
	background-color: #FFFFFF; 
	margin:5px;
	border: 4px double #DDDDDD;	
}
#selectedcontent, #allcontent{
	min-height:100px;
}
.showallChildBlocks{
	display:inline-block;
	padding:5px;
	margin:5px;
	border: 4px double #000000;
}
#singleinall{
	display:none;
	position: absolute; 
	//background-color: #AAAAAA;
	padding:20px;
	//width: 100%; 
	//height: 100%; 
	background-color: #FFFFFF; 
	margin:5px;
	border: 4px double #DDDDDD;	
}
#bigdescription, #bigdescriptiondown{
	font-size:20px;
	margin:5px;
}
#myCanvasSingle{
	border: 4px double #000000;
}
#leftt{
	width:50%;
	float:left;
}
#rightt{
	width:50%;
	float:right;
}
#test{
	margin-left:5%;
}
#tree-button, #flood-button{
	font-weight:bold;
	margin-top:10px;
}
#buttont, #buttonflood{
	display:inline-block;
	border-style: solid;
	border-width: 2px;
	border-image: url("border.png") 2 repeat;
}
#buttont:hover{
	border-image: url("border2.png") 2 repeat;
}
#buttonflood:hover{
	border-image: url("border2.png") 2 repeat;
}
#flood-text{
	font-weight:bold;
	padding:10px;
}
.treeOff { 
	display: none; 
	visibility: hidden; 
} 

.treeOn { 
	display: block; 
	visibility: visible; 
	position: absolute; 
	z-index: 999; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	color: #333;
	background-color: #E0E0E0;
	text-align: center; 
	filter: alpha(opacity=1); 
	opacity: 1;
	font-weight:bold;
}
.treeChild #treemenu{
	background-color: #FFFFFF;
	margin: 5px;
	padding: 10px;
	height:20px;
	border: 4px double #DDDDDD;
}

.treeChild #button14{
	margin-top:0px;
	height:18px;
}
#treeup, #treedown{
	width:100%;
}
#treeup{
	//float:left;
}
#treedown{
	//float:right;
}
#treeupcontent, #treedowncontent{
	background-color: #FFFFFF;
	margin: 5px;
	padding: 10px;
	border: 4px double #DDDDDD;
}
#treeupcontent{
	min-width: 1120px;
}
.frins, .frin0, .frin1, .frin2, .frin3 {
	display:inline-block;
	border: 4px double #000000;
	//margin:5px;
}
.frin3{
	margin:2px 5px;
}
.frin2{
	margin:2px 39px;
}
.frin1{
	margin:2px 107px;
}
.frin0{
	margin:2px 243px;
}
.frins{
	margin:2px 515px;
}

.onemorediv{
	display:inline-block;
	min-width:1632px;
}
.clear{
		clear: both;
}
.left{
	float:left;
	//border: 1px double #000000;
}
.right{
	float:right;
	//border: 1px double #000000;
}
.down{
	border: 1px double #000000;
}
.left, .right, .down{
	//margin:2px;
}
#treedowncanvas{

}
.leftpart{
	display:inline-block;
	margin-left:10px;
}
.rightpart{
	float:right;
}
.rightsettings{
}
.inputblocks input[type="text"]{
	width:30px;
	margin:0 10px;
}
.inputblocks{
	//background-color:#FFFFFF;
	margin:5px;
}
.inputblocks div{
	display:inline-block;
	//padding:0 10px;
}